﻿@model Mini_Blog.Models.Post

@{
    ViewBag.Title = "Create";
}


<form class="form-horizontal" ng-controller="PostController as ctrl" ng-submit="ctrl.createForm()">
    <h2>Create</h2>
    <h4>Post</h4>
    <hr />
    <div class="alert alert-danger hidden">

    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Title </label>
        <div class="col-md-10">
            <input type="text" class="form-control" required ng-model="ctrl.newPost.Title">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Content</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" ng-model="ctrl.newPost.Content" id="summernote" ></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
            <input type="text" class="form-control" required ng-model="ctrl.newPost.Status">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Slug</label>
        <div class="col-md-10">
            <input type="text" class="form-control" required ng-model="ctrl.newPost.Slug">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function (){
           $("#summernote").summernote();
        });
    </script>
}