﻿@model Mini_Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div ng-controller="PostController as ctrl">
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Title</dt>

        <dd>
            {{ctrl.detailPost.Title}}
        </dd>

        <dt>Content</dt>

        <dd>
            <div ng-bind-html="ctrl.detailPost.Content | renderHTML"></div>
        </dd>

        <dt>Status</dt>

        <dd>
            {{ctrl.detailPost.Status}}
        </dd>

        <dt>Slug</dt>

        <dd>
            {{ctrl.detailPost.Slug}}
        </dd>


    </dl>
</div>
<p>
    <a href="/PostAngular/Index"> Back to List</a>
</p>