﻿@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form class="form-horizontal" ng-controller="PostController as ctrl" ng-submit="ctrl.editForm()">
    <h4>Post</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">Title</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="ctrl.editPost.Title" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Content</label>
        <div class="col-md-10">
            <textarea type="text" class="form-control" ng-bind-html="ctrl.editPost.Content | renderHTML" required id="summernote"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Status</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="ctrl.editPost.Status" required>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Slug</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="ctrl.editPost.Slug" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>
    </div>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function (){
           $("#summernote").summernote();
        });
    </script>
}