﻿@model IEnumerable<Mini_Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="PostController as ctrl">
    <p>
        <a ng-click="ctrl.goToCreate()">Create New</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Status
            </th>
            <th>
                Slug
            </th>
            <th>
                CreatedAt
            </th>
            <th>
                UpdatedAt
            </th>

            <th>Action</th>
        </tr>


        <tr ng-repeat="post in ctrl.posts">
            <td>
                {{post.Title}}
            </td>
            <td>
                <div ng-bind-html="post.Content | renderHTML" class="text-truncate max-w-15"></div>
            </td>
            <td>
                {{post.Status}}
            </td>
            <td>
                {{post.Slug}}
            </td>
            <td>
                {{post.CreatedAt | date:'short'}}
            </td>
            <td>
                {{post.UpdatedAt | date:'short'}}
            </td>
            <td>
                <a href="/PostAngular/Details/{{post.Id}}">Details</a> |
                <a href="/PostAngular/Edit/{{post.Id}}">Edit</a> |
                <a href="#" ng-click="ctrl.deletePost(post.Id)">Delete</a>
            </td>
        </tr>
    </table>
</div>