﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular-app")
</head>
<body ng-app="app">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Mini Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @* <li>@Html.ActionLink("Home", "Index", "Home")</li> *@
                <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session["UserID"] == null)
                {
                    <li>@Html.ActionLink("Login", "Login", "Auth")</li>
                    <li>@Html.ActionLink("Register", "Register", "Auth")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Logout", "Logout", "Auth")</li>
                    if (Session["IsAdmin"] != null)
                    {
                        <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["Message"]
        </div>
    }
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>