﻿@model Mini_Blog.Models.User
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2>Register</h2>
        <h4></h4>
        @if (ViewData["registerStatus"] != null)
        {
            <div class="alert alert-danger" role="alert"> @ViewData["registerStatus"]</div>
        }
        @Html.ValidationSummary(true, ",", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(mode => Model.Email, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(mode => Model.UserName, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(mode => Model.Password, new {htmlAttribute = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-md-2">Confirm Your Password</label>
            <div class="col-md-10">
                <input type="password" name="confirmPassword" id="confirmPassword" required/>
                @if (ViewData["confirmPasswordErrorMessage"] != null)
                {
                    <span class="field-validation-error text-danger">@ViewData["confirmPasswordErrorMessage"]</span>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default"/>
            </div>
        </div>
    </div>
}