﻿@model Mini_Blog.Models.User
@{
    ViewBag.Title = "Dashboard";
}

<div class="container mt-4">
    <nav class="navbar col-md-2" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li>
                @Html.ActionLink("Home", "Index", "Dashboard")
            </li>
            <li>
                @Html.ActionLink("Post", "Index", "Post")
            </li>
            <li>
                @Html.ActionLink("Post - Angular Js ver.", "Index", "PostAngular")
            </li>
        </ul>
    </nav>
    <div>
        <h2>Welcome @Model.UserName</h2>
    </div>
</div>