﻿@model Mini_Blog.Models.Post
@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="jumbotron">
        <h1>@Model.Title</h1>
        <p class="lead">Created at @Model.CreatedAt.ToString("MM/dd/yyyy")</p>
    </div>
    <hr>

    <div>
        <p>
            @Html.Raw(Model.Content)
        </p>
    </div>
</div>