﻿@model IEnumerable<Mini_Blog.Models.Post>
@{
    ViewBag.Title = "Blog";
}

<div>
    <div class="jumbotron">
        <h1>Small Blog Area</h1>
        <p class="lead">Just A Random Sharing Blog</p>
    </div>
    <hr>
    <div class="row">

        @foreach (var post in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@post.Title</h3>
                        <span class="text-truncate">@Html.Raw(post.Content)</span>
                        <hr>
                        <button class="btn">
                            @Html.ActionLink("Show", "Details", new { slug = post.Slug })
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>